.calculator {
  width: 300px;
  margin: 0 auto;
  background-color: #205b7a; 
  padding: 20px; 
  border-radius: 10px; 
}
header {
  text-align: center;
  background-color: #dcdee0;
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}

.display {
  text-align: right;
  font-size: 24px;
  background-color: #26282a;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
