/* clickcounter.css */

.click-counter {
    padding: 20px;
    background-color: #727374;
}


.click-count-reset-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


.click-counter-text {
    font-weight: bold;
    color: #0e0d0d;
    padding: 10px; 
    border: 1px solid #0a0808;
    border-radius: 5px; 
}


.reset-button {
    margin-left: 10px;
    background-color: #ff5144;
    color: white;
    text-align: center;
}


.click-button {
    background-color: #3880ff;
    color: white;
    text-align: center;
}
.IonPage {
    background-color: #c89579;
}
