.calculator {
  width: 300px;
  margin: 0 auto;
  background-color: #121212; 
  padding: 20px; 
  border-radius: 10px; 
}

.display {
  text-align: right;
  font-size: 24px;
  background-color: #a89f9f;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
.btn {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;

}
.operator, .clear {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  background: #FF9500;
  color: white;
}

.clear {
  background-color: #621706;
}

.btn:hover, .operator:hover, .clear:hover {
  background-color: #f0f0f0;
}